<style>
</style>
<div>
<h3><%= review.review_title %></h3>
<p>
<% for (let i = 0; i < review.review_rating; ++i) { %>
*
<% } %>
</p>
<h4><%= review.reviewer_name %></h4>
<h5><%= review.review_date %></h5>
<p><%= review.review_text %></p>
</div>
<script>
</script>
