<!DOCTYPE html>
<html>

<head>
  <title>MySite</title>
</head>

<body>
  <% switch(day) { case 0 : %>
    <p>It's Sunday</p>
    <% break; case 1: %>
    <p>It's Monday
    </p>
  <% break; default: break; } %>
</body>

</html>
