<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include ('partials/header'); %>
    <%- include ('components/user_table'); %>
    <%- include ('partials/footer'); %>
  </body>
</html>
