<style>
  #titlebar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
</style>
<header>
  <div id="titlebar">
    <div>
      <a href="/">
        <img src="./img/logo/Logo_Cropped.png" width="100" />
      </a>
    </div>
    <div>
      <a href="/"><h1>Knowl & Tree Bookstore</h1></a>
    </div>
    <div class="nav">
      <nav>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <% if (locals.user) { %>
          <% if (user.role === "admin") { %>
            <a href="<%= url_for('add_book') %>">Add</a>
          <% } else { %>
          <% } %>
          <a href="/cart">Cart</a>
          <p><%= user.cart.length %></p>
          <a href="/logout">Logout</a>
        <% } else { %>
          <a href="/register">Register</a>
          <a href="/login">Login</a>
        <% } %>
      </nav>
    </div>
  </div>
</header>
