<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head'); %>
  </head>
  <body>
    <%- include ('partials/header'); %>
    <%- include ('components/cart_table'); %>
    <%- include ('partials/footer'); %>
  </body>
</html>
