 <table>
  <tr>
    <th>Book</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
    <% if (locals.user.cart.length > 0) { %>
      <% user.cart.forEach((book) => { %>
  <tr>
      <td><%= book.book_title %></td>
      <td><%= book.book_price %></td>
      <td><%= book.amount %></td>
      <% }); %>
  </tr>
    <% } else { %>
      <p>No Items in Cart</p>
    <% } %>
</table> 
