:root {
  --harvest-gold: #db9228ff;
  --seal-brown: #632d1cff;
  --seal-brown-2: #651f04ff;
  --mahogany: #bb4105ff;
  --off-red-rgb: #e90000ff;
}

* {
  margin: 0;
  padding: 0;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav {
  font-size: larger;
}

li {
  display: inline;
}
